<input 
    type="text"
    class="form-control"    
    [(ngModel)]="serverName"
    [disabled]="!allowCreateServer"
/>

<button class="btn btn-primary" [disabled]="!allowCreateServer || (serverName === '')" (click)="onCreateServer()">
    New Server
</button>

<p *ngIf="serverCreated">
    A server is created with name {{ serverName }}
</p>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
